.main-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.page-title {
  text-align: center;
  font-size: 25px;
  font-weight: 950;
  margin-top: 20px;
}

.left-content {
  width: 30%;
  background-image: url('../../assets/images/loginImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-color: #f5f3ff;
}

.right-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
  max-width: 300px;
  margin: auto;
}


.login-btn {
  width: 150px;
  border-radius: 5px;
}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
  .left-content {
    width: 40%;
  }

  .right-content {
    width: 60%;
  }
}

@media screen and (max-device-width: 576px) {
  .left-content {
    width: 50%;
  }

  .right-content {
    width: 50%;
  }
}

@media screen and (max-device-width: 480px) {
  .main-conent {
    position: relative;
    display: block;
  }

  .left-content {
    width: 100%;
    background-position: center 13vh;
    background-size: 24vh;
  }

  .right-content {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-btn {
    width: 100%;
  }
}