.main-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-content {
  width: 30%;
  background-image: url("../../assets/images/loginImage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  background-color: #f5f3ff;
}

.right-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
  max-width: 300px;
  margin: auto;
}

.top-left {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.ant-btn-primary {
  background-color: #3d0098;
  border-color: #3d0098;
  color: #ffffff;
  border-radius: 5px;
}

.ant-input {
  border-radius: 7px;
  border-color: #707070;
}

@media screen and (min-device-width: 576px) and (max-device-width:768px) {
  .left-content {
    width: 40%;
  }

  .right-content {
    width: 60%;
  }
}

@media screen and (max-device-width:576px) {
  .left-content {
    width: 50%;
  }

  .right-content {
    width: 50%;
  }
}

@media screen and (max-device-width: 480px) {

  .main-conent {
    position: relative;
    display: block;
  }

  .left-content {
    width: 100%;
    background-position: center 10vh;
    background-size: 24vh;
  }

  .right-content {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .ant-btn-primary {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 3px;
  }
}