.outlined {
  font-weight: 400;
  background-color: #fff;
  color: #3d0098;
  border-radius: 10px;
  border: 1.58px solid #3d0098;
  padding: 2px 32px;
  height: 28px;
  justify-content: center;
}

.outlined:hover,
.outlined:focus {
  color: rgb(255, 255, 255);
  background-color: #3d0098;
  border-color: #3d0098;
}

.filled {
  border-radius: 10px;
  padding: 2px 32px;
  height: 28px;
  justify-content: center;
}
