.charts-wrapper div{
    background-color: white;
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.247);
}
.charts-wrapper{
    margin-top: 14px;
    margin-left: 14px;
   
}