.button {
  background-color: #8555da;
}

.chart-text-heading {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.chart-text-count {
  font-size: x-large;
  font-weight: 700;
}
.home-wrapper {
  padding: 30px;
  border-radius: 20px;
  background-color: white;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 20px;
}
.map_wrapper {
  min-height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
}
.count_displayer {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e03b3bdc;
}
.add_more_locs.no_disp {
  display: none;
}
.add_more_locs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.add_more_locs button {
  width: 150px;
}
.dda_info_disp {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  background: ghostwhite;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.dda_info_disp span {
  margin-left: 5px;
}
#dda_disp_pop .ant-popover-inner-content {
  overflow: hidden;
  height: 180px;
  width: 280px;
}
.pop_dda_disp {
  width: 100%;
  display: block;
  color: rgba(0, 0, 0, 0.795);
  padding: 10px;
  padding-left: 10px;
}
.pop_ado_disp{
  width: 100%;
  display: block;
  color: rgba(0, 0, 0, 0.795);
  padding: 10px;
  
}
#dda_disp_pop.ant-popover-inner {
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
