.button {
  background-color: #8555da;
}

.chart-text-heading {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.chart-text-count {
  font-size: x-large;
  font-weight: 700;
}
.home-wrapper{
  padding:30px;
  border-radius: 20px;
  background-color: white;
}