.form-container {
  padding: 20px 24px;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: inherit;
}

.ant-input:focus  {
  border-color: rgba(220, 20, 60, 0.466);
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
}

.ant-input:hover {
  border-color: crimson;

}