.form-container {
  padding: 20px 24px;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}
.right-form-content {
  width: 75%;
}
.left-form-content {
  width: 25%;
  text-align: center;
}
.left-form-content h3 {
  margin-bottom: 31px;
  text-align: center;
}
.left-form-content .edit-fix-button {
  margin-bottom: 37px;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(224, 59, 59);
  color: white;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.left-form-content {
  margin-right: 30px;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.164);
}
.ant-input:focus {
  border-color: rgba(220, 20, 60, 0.466);
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
}

.ant-input:hover {
  border-color: rgba(220, 20, 60, 0.466);
}
.ant-input-affix-wrapper:hover {
  border-color: rgba(220, 20, 60, 0.466);
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: rgba(220, 20, 60, 0.466);
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.219);
}
