.ant-checkbox-checked .ant-checkbox-inner {
  background-color: crimson;
}
.ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: crimson;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: crimson;
}
.has_blocks .ant-checkbox-inner {
  /* margin-left: 4px; */
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.has_blocks .ant-checkbox-inner:after {
  width: 7px;
  height: 13px;
}
/* .ant-checkbox-inner:before {
  width: 10px;
  height: 10px;
} */
.has_blocks .ant-checkbox-checked .ant-checkbox-inner::after {
  border: 3px solid #fff;
  border-top: 0;
  border-left: 0;
}
