.header-style {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.afl_name {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .popover_btn {
    display: none;
  }
  .afl_name {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .largeScreenIcons {
    display: none;
  }
}

/* .main-header>.ant-page-header-heading {
    display: block;
} */
