.headerButton {
    background-color: #fff;
    color: #3d0098;
    border-radius: 10px;
    border: 1.5px solid #3d0098;
    padding: 2px 32px;
    height: 28px;
    justify-content: center;
}

.headerButton:hover {
    color: #fff;
    background-color: #3d0098;
    border-color: #3d0098;
}