.logo {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 1000;
  margin: 16px 8px 0 8px;
}

.sidebar-style {
  height: 100vh;
  background: white;
  box-shadow: 7px 3px 4px -6px rgba(0, 0, 0, 0.144);
}

ul.side-menu-style {
  text-align: left;
  margin-top: 80px;
  font-weight: 520;
  color: black;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e03b3b;
  color: white;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  * {
}

.ant-menu-inline-collapsed {
  padding: 20px 0;
  margin-top: 60px;
}

.ant-menu-dark .ant-menu-item-active {
  color: black;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
  color: black;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > span > a {
  color: white;
}

.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a:hover {
  color: red;
}

.ant-menu-dark .ant-menu-item-selected:hover,
.ant-menu-dark .ant-menu-item-group-title:hover,
.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > span > a:hover {
  color: white;
}

.ant-menu-submenu .ant-menu-submenu-title:hover {
  color: red;
}
.ant-menu-submenu-open .ant-menu-submenu-title {
  color: #e03b3b;
}
.ant-menu.ant-menu-dark
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow::before {
  background: black;
}
.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background: black;
}
.ant-menu.ant-menu-dark
  .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before {
  background: red;
}
.ant-menu.ant-menu-dark
  .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after {
  background: red;
}
/* .ant-menu-dark .ant-menu-submenu-open{
  margin-left: 10px;
  margin-right: 10px;
}
.ant-menu-dark .ant-menu-submenu{
  margin-left: 10px;
  margin-right: 10px;
} */
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: white;
  /* border-radius: 20px; */
}
.ant-menu-dark .ant-menu-item > a {
  color: black;
}
.ant-menu-dark .ant-menu-submenu-open .ant-menu-item-selected {
  /* border-radius: 20px; */
}
.ant-menu-dark .ant-menu-item > a:hover {
  color: red;
}
.ant-menu-dark .ant-menu-submenu-open .ant-menu-item-selected > a {
  color: white;
}
.ant-menu-inline > .ant-menu-submenu-open > a:hover {
  color: white;
}
/* .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{ */
/* margin-left: -10px; */

.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: white;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  * {
  color: white;
}

.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected {
  color: #000;
}
.large_screen_sider {
  display: none;
}
@media only screen and (max-width: 600px) {
  .ant-layout-sider.ant-layout-sider-dark.sidebar-style {
    display: none;
  }
}
