/* #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #3d0098;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; 
}*/

.logo {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 1000;
  margin: 16px 8px 0 8px;
}

.ant-menu-dark.ant-menu-inline {
  border-right: 0;
  background-color: #3d0098;
  color: #ffffff;
  text-align: left;
  margin-top: 80px;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: 520;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item {
  width: 73%;
  margin-top: 24px;
  margin-left: 24px;
  border-radius: 25px;
}