.comparison-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
.modal_header {
  padding-top: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.719);
}
.date {
  margin-top: 30px;
  margin-bottom: 20px;
}
.force_update {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.force_update div {
  font-size: 14px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.788);
}
.nasa_wrapper {
  min-height: 23vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
}
.com_header {
  font-weight: 400;
  color: black;
  font-size: 21px;
  margin-bottom: 20px;
}
.nasa_links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nasa_links div {
  margin-bottom: 20px;
}
.nasa_links a {
  margin-left: 5px;
}

.com_links {
  margin-top: 30px;
}
@media screen and (max-width: 575.98px) {
  .date_pick {
    margin-top: 10px;
  }
}
@media screen and (min-width: 575.98px) {
  .date_pick {
    margin-left: 10px;
  }
}
.bottom_btns {
  margin-top: 10px;
}
@media screen and (min-width: 991.98px) {
  .bottom_btns {
    margin-top: 0px;
  }
}
@media screen and (max-width: 785px) {
  div.bottom_btns {
    display: none;
  }
  .small_screen_action {
    margin-top: 20px;
  }
}
@media screen and (min-width: 785px) {
  .small_screen_action {
    display: none;
  }
}
.bottom_btns {
  display: flex;
  justify-content: space-around;
}
.bottom_drawer_btns {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
