.add-btn-style {
  border-radius: 10px;
  padding: 2px 32px;
  height: 28px;
  justify-content: center;
}

.search-bar-style {
  background: #f5f5ff;
  border-radius: 20px;
  margin-right: 20px;
}

.search-bar-style > input {
  background: #f5f5ff;
}

.search-bar-style:hover {
  border-color: '#000';
}
