.search-bar-style {
  background: #f5f5ff;
  border-radius: 20px;
  margin-right: 20px;
}

.search-bar-style > input {
  background: #f5f5ff;
}

.search-bar-style:hover {
  border-color: 'red';
}

#rcDialogTitle1 {
  text-align: center;
}

.ant-modal-close {
  display: none;
}

.ant-modal-header {
  border-bottom: 0px;
}

.ant-modal-body {
  text-align: center;
  padding-top: 0px;
  margin-top: -10px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.404);
}

.ant-modal-footer {
  border-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  border-radius: 14px;
}

.ant-modal-footer .modal-button div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.ant-modal-footer .modal-button div img {
  font-size: 20px;
  height: 27px;
}

.ant-modal-body .ant-progress {
  margin-top: 22px;
}

#logout-button:hover {
  background-color: crimson;
  color: white;
}

.new_locations {
  margin-top: 10px;
  font-weight: 600;
}

.err_mess {
  color: rgba(255, 0, 0, 0.781);
}
.locationMdalWrapper > div {
  margin-top: 20px;
}
.ant-modal-header {
  text-align: center;
}
#reportform {
  margin-top: 20px;
}
#linksreport {
  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  background-color: white;
  padding: 2px;
  padding-left: 10px;
  border: 1px solid #e03b3b77;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.search-wrapper:hover {
  border: 1px solid #e03b3b;
}
.search-Input {
  outline: none;
  border: none;
}
.search-wrapper.focused {
  border: 1px solid #e03b3b;
  box-shadow: 0px 0px 1px 1px #e03b3b93;
}
.search_options {
  display: inline-block;
  flex-direction: row;

  padding-left: 5px;
}
.search-button {
  border-left: 1px solid #e03b3b;
  font-size: 16px;
  padding: 0px;
  width: 30px;
  text-align: center;
}
.search-button:hover {
  color: #e03b3b;
  cursor: pointer;
}
.search-filter {
  font-size: 16px;
  padding-right: 5px;
}
.search-filter:hover {
  color: #e03b3b;
  cursor: pointer;
}
.header_wrapper {
  padding: 20px;
}
.header_title {
  font-size: 18px;
  font-weight: 600;
}
.seconday_header {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-device-width: 767px) {
  #large_screen_search_inactive {
    display: none;
  }
  .back {
    display: inline-block;
    margin-right: 4px;
  }
  #large_screen_search_active {
    display: flex;
    width: 100vw;

    display: flex;
    justify-content: space-between;
  }
  .seconday_header {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 810px) {
  div.search_btn {
    display: none;
  }
  .back {
    display: none;
  }
}
@media screen and (min-device-width: 767px) and (max-device-width: 810px) {
  #large_screen_search_inactive {
    display: none;
  }
  #large_screen_search_active {
    display: flex;
  }
  #large_screen_search_active div:nth-child(1) {
    display: flex;
    align-items: center;
  }
}
.search_btn {
  display: inline-block;

  padding: 1px;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;

  color: black;
  font-weight: 700;
  font-size: 20px;
}
.option_inactive {
  display: none;
}
.search_btn.inactive {
  display: none;
}
#large_screen_search_active div:nth-child(1) {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#large_screen_search_active div:nth-child(2) {
  display: flex;
  justify-content: center;
}
